<p id="notice"><%= notice %></p>

<%= link_to '', edit_visado_path(@visado), class:'btn btn-primary fa fa-pencil', style: 'color:white' %> |
<%= link_to '', visados_path, class:'btn btn-primary fa fa-list', style: 'color:white' %>
