<div class="footer text-center">
  <div class="container">
    <p class="text-muted">&copy; Todos los derechos reservados Universidad de Margarita (UNIMAR) 2016.
    </p>
    <center>
	    <div  height="30px" width="20%" style="background-color: white;">
			<%= image_tag "logo-unimar.png",  height: '30' %>
		</div>
	</center>
  </div>
</div>
