<h3>ACERCA DE:</h3>
<center>
	<p><strong>Nombre del sistema:</strong> GESTOR-CIENE</p>
	<p><strong>Herramienta de implementaci칩n:</strong> Ruby on rails, MySql, Awesome icons, CoffeeScript, Bootstrap.</p>
	<p><strong>Todos los derechos reservados Universidad de Margarita (UNIMAR). Requisito parcial para optar por el titulo de Ing. de Sistemas</strong></p> 
	<strong><p>A침o de elaboraci칩n: 2016</p></strong>
	<strong><p>Versi칩n: 1.0</p></strong>
	<p><strong>Realizado por:</strong></p>
	<p><strong>Reybin Mendoza.</p>
	<p>Silvestre Cardenas.</strong></p>


</center>